:root {
  --pink:#d92266;
  --lightPink:#f990c0;
  --lightGrey:#9e9e9e;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.title {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-pink {
  color: var(--pink);
}

.text-light {
  color: var(--lightPink);
}
