:root {
  --pink:#d92266;
  --lightPink:#f990c0;
  --lightGrey:#9e9e9e;
  --mainWhite:#f3f3f3;
  --mainDark: #232528;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.title {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-pink {
  color: var(--pink);
}

.text-light {
  color: var(--lightPink);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  color: var(--mainDark);
  border-radius: 0 !important;
  border:2px solid var(--mainDark) !important;
  line-height: 32px !important;
  padding: 0 12px!important;
  height: 35px;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--lightPink) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 14px !important;
  color: var(--lightPink);
}